{% macro mgmt_common(vmname) -%}

sys-mgmt-rpc:
  file.managed:
    - name: /etc/qubes/policy.d/10-user-{{ vmname }}.policy
    - contents: |
        admin.vm.Create.AppVM					*				{{ vmname }}		dom0			allow	target=dom0
        admin.vm.List							*				{{ vmname }}		dom0			allow	target=dom0
        admin.label.List						*				{{ vmname }}		dom0			allow	target=dom0
        admin.property.Get						+updatevm		{{ vmname }}		dom0			allow	target=dom0
        admin.vm.Create.TemplateVM				*				{{ vmname }}		dom0			allow	target=dom0
        admin.Events							*				{{ vmname }}		dom0			allow   target=dom0
        qubes.TemplateSearch					*				{{ vmname }}		sys-whonix						allow
        qubes.TemplateDownload					*				{{ vmname }}		sys-whonix						allow
        qubes.PostInstall						*				{{ vmname }}		@tag:created-by-{{ vmname }}	allow
        
sys-mgmt-admin-local-rpc:
  file.append:
    - name: /etc/qubes/policy.d/include/admin-local-rwx
    - text:
      - {{ vmname }}	@tag:created-by-{{ vmname }}	allow	target=dom0
      
sys-mgmt-admin-global-rpc:
  file.append:
    - name: /etc/qubes/policy.d/include/admin-global-ro
    - text:
      - {{ vmname }}	@tag:created-by-{{ vmname }}	allow	target=dom0

{%- endmacro %}
