{% macro split_gpg_server(WORKSPACE,TEMPLATE,THUNDERBIRD,KEYS_CLIENT) -%}

gpg-vault--create-vm:
  qvm.vm:
    - name: {{ WORKSPACE }}-gpg-vault
    - present:
      - template: {{ TEMPLATE }}
      - label: black
    - prefs:
      - label: black
      - netvm: none
      
/etc/qubes/policy.d/10-user-splitgpg.policy:
  file.append:
  - makedirs: True
  - text: |
      qubes.Gpg	*	{{ WORKSPACE }}					{{ WORKSPACE }}-gpg-vault	ask
      qubes.Gpg	*	{{ WORKSPACE }}-gpg-client		{{ WORKSPACE }}-gpg-vault	ask
      qubes.Gpg	*	{{ WORKSPACE }}-keys-client		{{ WORKSPACE }}-gpg-vault	ask
      qubes.Gpg	*	{{ WORKSPACE }}-vault			{{ WORKSPACE }}-gpg-vault	ask

{% if KEYS_CLIENT == 'false' %}

WORKSPACE-gpg-client-dvm--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-gpg-client-dvm
     - present:
        - template: {{ TEMPLATE }}
        - label: black
     - prefs:
        - label: black
        - netvm: none
        - template_for_dispvms: True
        
WORKSPACE-gpg-client--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-gpg-client
     - present:
        - class: DispVM
        - template: {{ WORKSPACE }}-gpg-client-dvm
        - label: black
     - prefs:
        - label: black
        - netvm: sys-firewall
      
{% elif KEYS_CLIENT == 'true' %}

WORKSPACE-keys-client-dvm--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-keys-client-dvm
     - present:
        - template: {{ TEMPLATE }}
        - label: black
     - prefs:
        - label: black
        - netvm: none
        - template_for_dispvms: True
        
WORKSPACE-keys-client--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-keys-client
     - present:
        - class: DispVM
        - template: {{ WORKSPACE }}-keys-client-dvm
        - label: black
     - prefs:
        - label: black
        - netvm: sys-firewall

{% endif %}
{%- endmacro %}


{% macro split_gpg_vault() -%}

/home/user/.profile:
  file.managed:
  - user: user
  - mode: 644
  - makedirs: True
  - contents: |
      QUBES_GPG_AUTOACCEPT=86400

{%- endmacro %}


{% macro split_gpg_client(THUNDERBIRD) -%}

{% if THUNDERBIRD == 'true' %}

keys-client-dvm-instructions:
  file.append:
    - name: /home/user/.bashrc
    - text: |
        printf -- "-%.0s" $(seq $(tput cols))
        echo -e 'You can set your GPG domain with: `export QUBES_GPG_DOMAIN=<vmname>`\nAfter that you can manage your keys with `qubes-gpg-client` \nMore about split-gpg at: https://qubes-os.org/doc/split-gpg/'
        printf -- "-%.0s" $(seq $(tput cols))
 
start-thunderbird:
  cmd.run:
    - name: thunderbird &
    - runas: user

thunderbird-settings-qubes:
  cmd.run:
    - name: echo -e 'user_pref("mail.openpgp.allow_external_gnupg", true);\nuser_pref("mail.openpgp.alternative_gpg_path", "/usr/bin/qubes-gpg-client-wrapper");' >> "$(find /home/user/.thunderbird | grep default-release | awk NR==1)/user.js"
    - runas: user 
    
{% elif THUNDERBIRD == 'false' %}

keys-client-dvm-instructions:
  file.append:
    - name: /home/user/.bashrc
    - text: |
        printf -- "-%.0s" $(seq $(tput cols))
        echo -e 'You can set your GPG domain with: `export QUBES_GPG_DOMAIN=<vmname>`\nAfter that you can manage your keys with `qubes-gpg-client` \nMore about split-gpg at: https://qubes-os.org/doc/split-gpg/'
        printf -- "-%.0s" $(seq $(tput cols))

{% endif %}
{%- endmacro %}



