{% macro split_browser_dom0(WORKSPACE) -%}

split-browser-firefox--create-template:
  qvm.clone:
     - name: {{ pillar['default_template'] }}-browser
     - source: {{ pillar['default_template'] }}
     
split-browser-tor--create-template:
  qvm.clone:
     - name: {{ pillar['whonix_ws_template'] }}-browser
     - source: {{ pillar['whonix_ws_template'] }}
     
firefox-dvm--create-qube:
  qvm.vm:
     - name: split-firefox-dvm
     - present:
        - template: {{ pillar['default_template'] }}-browser
        - label: red
     - prefs:
        - label: red
        - template_for_dispvms: True
        
mullvad-dvm--create-qube:
  qvm.vm:
     - name: split-mullvad-dvm
     - present:
        - template: {{ pillar['default_template'] }}-browser
        - label: red
     - prefs:
        - label: red
        - template_for_dispvms: True
        
torbrowser-dvm--create-qube:
  qvm.vm:
     - name: split-torbrowser-dvm
     - present:
        - template: {{ pillar['whonix_ws_template'] }}-browser
        - label: red
     - prefs:
        - label: red
        - netvm: sys-whonix
        - template_for_dispvms: True
     
workspace-browser--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-browser-vault
     - present:
        - template: {{ pillar['default_template'] }}-browser
        - label: black
     - prefs:
        - label: black
        - netvm: none


{%- endmacro %}


{% macro set_browser_firefox() -%}

firefox-as-default:
  cmd.run:
    - name: ln -s /etc/split-browser-disp/22-firefox.bash.EXAMPLE /usr/local/etc/split-browser-disp/22-firefox.bash    
    
{%- endmacro %}

{% macro set_browser_mullvad() -%}

mullvad-as-default:
  cmd.run:
    - name: ln -s /etc/split-browser-disp/23-mullvad.bash.EXAMPLE /usr/local/etc/split-browser-disp/23-mullvad.bash
    
{%- endmacro %}
