{% macro split_browser_dom0(WORKSPACE) -%}

split-browser-firefox--create-template:
  qvm.clone:
     - name: {{ pillar['default_template'] }}-browser
     - source: {{ pillar['default_template'] }}
     
split-browser-tor--create-template:
  qvm.clone:
     - name: {{ pillar['whonix_ws_template'] }}-browser
     - source: {{ pillar['whonix_ws_template'] }}
     
firefox-dvm--create-qube:
  qvm.vm:
     - name: firefox-dvm
     - present:
        - template: {{ pillar['default_template'] }}-browser
        - label: red
     - prefs:
        - label: red
        - template_for_dispvms: True
        
tor-dvm--create-qube:
  qvm.vm:
     - name: tor-dvm
     - present:
        - template: {{ pillar['whonix_ws_template'] }}-browser
        - label: red
     - prefs:
        - label: red
        - netvm: sys-whonix
        - template_for_dispvms: True
     
workspace-browser--create-qube:
  qvm.vm:
     - name: {{ WORKSPACE }}-browser-vault
     - present:
        - template: {{ pillar['default_template'] }}-browser
        - label: black
     - prefs:
        - label: black
        - netvm: none


{%- endmacro %}


{% macro set_browser_firefox() -%}

firefox-as-default:
  file.managed:
    - name: /usr/local/etc/split-browser-disp/22-firefox.bash
    - souce: /etc/split-browser-disp/22-firefox.bash.EXAMPLE
    - user: root
    - mode: 755
    - makedirs: True      
    
{%- endmacro %}
