{% from "audio-template.jinja" import audio_common -%}
{% from "/srv/formulas/base/virtual-machines-formula/qvm/template.jinja" import load %}

{% macro sys_audio_dom0() -%}

sys-audio-template--create-qube:
  qvm.clone:
     - name: {{ pillar['default_template'] }}-audio
     - source: {{ pillar['default_template'] }}

sys-audio-dvm--create-qube:
  qvm.vm:
     - name: sys-audio-dvm
     - present:
        - template: {{ pillar['default_template'] }}-audio
        - label: black
     - prefs:
        - label: black
        - netvm: none
        - template_for_dispvms: True

{% load_yaml as defaults -%}
name: sys-audio
present:
  - class: DispVM
  - template: sys-audio-dvm
  - label: black
prefs:
  - autostart: true
  - label: black
  - netvm: none
  - virt_mode: hvm
  - mem: 400
  - maxmem: 400
service:
  - audiovm: 1
features:
 - set:
   - servicevm: 1
   - menu-items: pavucontrol.desktop        
{%- endload %}
        
{{ load(defaults) }}
{{ audio_common(defaults.name) }}

sys-audio-qube-attach-pci-a:
  qvm.devices:
    - name: sys-audio
    - attach:
      - pci:dom0:00_03.0:
        - permissive: true
        
sys-audio-qube-attach-pci-b:
  qvm.devices:
    - name: sys-audio
    - attach:
      - pci:dom0:00_1b.0:
        - permissive: true

set-sys-audio-default:
  cmd.run:
    - name: qubes-prefs default_audiovm sys-audio
    
{%- endmacro %}


{% macro sys_audio_template() -%}

sys-audio-template--install-packages:
  pkg.installed:
     - pkgs:
        - alsa-plugins-pulseaudio
        - alsa-utils
        - pulseaudio-qubes
        - pulseaudio-utils
        - pipewire-utils
        - qubes-audio-daemon
        - pavucontrol
        - xfce4-pulseaudio-plugin
        - webrtc-audio-processing
        - qubes-core-admin-client
        - qubes-usb-proxy

/etc/modprobe.d/50-snd.conf:
  file.managed:
    - user: root
    - mode: 640
    - makedirs: True
    - contents:
      - options snd_hda_intel power_save=0

{%- endmacro %}
