{% macro dom0_corridor() -%}

corridor-template--create-qube:
  qvm.clone:
     - name: {{ pillar['kicksecure_template'] }}-corridor
     - source: {{ pillar['kicksecure_template'] }}

sys-whonix-corridor-dvm--create-qube:
  qvm.vm:
     - name: sys-corridor-dvm
     - present:
        - template: {{ pillar['kicksecure_template'] }}-corridor
        - label: black
     - prefs:
        - label: black
        - netvm: none
        - template_for_dispvms: True

tor-corridor--create-qube:
  qvm.vm:
     - name: sys-corridor
     - present:
        - class: DispVM
        - template: sys-corridor-dvm
        - label: black
     - prefs:
        - label: black
        - netvm: sys-net
        - provides_network: True
        - virt_mode: pvh
        
tor-corridor--enable-service:
  cmd.run:
    - name: qvm-service --enable sys-corridor corridor
   
{%- endmacro %}

{% macro template_corridor() -%}

download-whonix-signing-key:
  file.managed:
    - name: /tmp/patrick.asc
    - source: salt://sys-corridor/patrick.asc

add-key-to-apt-keyring:
  cmd.run
    - name: apt-key --keyring /etc/apt/trusted.gpg.d/whonix.gpg add /tmp/patrick.asc
    - runas: root

add-whonix-apt-repo:
  file.append:
    - name: /etc/apt/sources.list.d/whonix.list
    - text: |
        deb https://deb.whonix.org buster main contrib non-free

update:
  pkg.uptodate:
    - refresh: True

install-corridor:
  pkg.installed:
    - pkgs:
      - corridor
   
{%- endmacro %}
